body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Ubuntu", sans-serif;
  background-color: #232323;
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

@media screen and (max-width: 375px) {
  body {
    overflow-x: hidden !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
}
