.members {
  padding: 10px;
  padding-top: 13px;
  width: 21%;
  border-radius: 10px;
  background-color: transparent;
  margin: 2%;
  display: inline-block;
  transition: all 0.7s ease !important;
}

.members:hover {
  background-color: #f1f1f1;
}

.members:hover .memberName,
.members:hover .role {
  color: #232323;
}

.photo {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.photo:hover {
  width: 96%;
  filter: none;
  border-radius: 5%;
  transition: all 0.5s ease-out;
}

.memberName {
  position: relative;
  margin-top: 20px;
  font-weight: 600;
  font-size: 15pt;
  color: whitesmoke;
}

.role {
  position: relative;
  bottom: 10px;
  font-size: 11pt;
  padding-bottom: 0px;
  color: whitesmoke;
  font-weight: 400;
}

.links a {
  text-decoration: none;
  color: #696969;
  padding: 0px 5px;
  font-size: 22px;
}

.links a:hover {
  text-decoration: none;
  padding: 0px 5px;
}

@media (max-width: 780px) and (min-width: 729px) {
  .members {
    width: 200px;
  }
  .photo {
    width: 80%;
    filter: none;
    border-radius: 0%;
    transition: all 0.5s ease;
    border-radius: 100%;
  }
}

@media (max-width: 728px) {
  .members {
    padding: 10px;
    width: 40%;
  }
  #team-container {
    width: 100%;
  }
  .photo {
    margin-top: 2%;
    width: 96%;
    filter: none;
    border-radius: 100%;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 450px) {
  .members {
    margin-top: 10px;
    padding: 8px;
    width: 40%;
    height: 100%;
  }
  #team-container {
    width: 350px;
  }
}
