/* ====================================================H1 ANIMATON====================================================  */
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

@media (min-width: 1200px) {
  .ml11 {
    font-size: 3.6em;
    width: 71%;
  }

  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
  }

  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }

  .ml11 .line1 {
    top: 0;
    left: 0;
  }

  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
}
.icons_card {
  margin-left: 10px;
  margin-right: 10px;
}
/* ====================================================TAGS====================================================  */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  color: #797979;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
  background: #232323;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: dot;
}
h1 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 38px;
  font-weight: 700;
}
h3 {
  color: #6f389f !important;
  line-height: 1.25;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  color: #6f389f;
  line-height: 1.25;
}
a:hover {
  text-decoration: none;
}

/* ====================================================CLASSES==================================================== */
.header-area {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}
.header-area .navbar {
  background: transparent;
  padding: 15px 0;
  border: 0px;
  width: 100%;
  box-sizing: border-box;
}
.header-area .navbar-right {
  min-width: 200px;
  text-align: right;
}
.header-area .navbar .nav .nav-item {
  margin-right: 30px;
}
.header-area .navbar .nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.header-area .navbar .nav .nav-item:hover .nav-link {
  color: rgb(231, 203, 255);
  opacity: 0.75;
}
.active {
  color: #fff;
  opacity: 0.75;
  border-bottom: 2px white solid;
}
.header-area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -73px;
  left: 0;
  right: 0;
  background: #232323;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.3);
}

.home-banner {
  position: relative;
  background: #232323;
  background-size: cover;
  padding: 90px 0 60px 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../css/img/bg.png) left center no-repeat;
  background-size: 1000px 850px;
  background-position: 100% 50%;
  background-blend-mode: lighten;
}
.home-banner-logo {
  position: relative;
  display: inline-block;
  margin: auto;
}
.img-logo {
  display: inline-block;
  margin: auto;
}
.home-banner-content {
  text-shadow: 1px 1px rgb(49, 34, 59);
}
.home-banner-content h1 {
  color: #fff;
  margin-bottom: 22px;
}
.home-banner-content p {
  color: #fff;
  font-size: 18px;

  margin-bottom: 45px;
}
.home-banner-content a {
  text-shadow: none;
}
.home-banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.section2 {
  margin: 60px 0;
}
.section3 {
  margin: 60px 0;
}

.section4 {
  padding: 60px 0;
}

.section-intro {
  padding-top: 60px;
  border-top: 1px solid white;
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 45px;
}
.section-intro-title {
  font-weight: 500;
  color: whitesmoke;
  margin-bottom: 10px;
  padding-bottom: 50px;
  position: relative;
}
.section-intro-subtitle {
  font-size: 17px;
  color: rgb(201, 199, 199);
  margin-bottom: 0;
}
.section-intro-subtitle span {
  opacity: 0;
  transition: ease;
  -webkit-transition: opacity 0.2s;
}

.section-intro-subtitle span.visible {
  opacity: 1;
}

.card-bg {
  padding: 5px;
  border-radius: 25px;
  margin: 20px;
  box-shadow: 2px 2px 5px;
}

.card-bg img:hover {
  transition: 0.2s;
  opacity: 0.8;
  transform: scale(1.02);
}
.card-4 {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  border: 20px;
  box-shadow: 2px 2px;
  border-radius: 15px;
  background: rgba(167, 167, 167, 0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card-4:hover {
  background: #e5e1f5;
  transition: 0.2s;
  transform: scale(1.1);
}
.card-3 {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  border: 20px;
  box-shadow: 2px 2px;
  border-radius: 15px;
  background: #e5e1f5;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card-3:hover {
  transition: 0.2s;
  background: rgba(189, 189, 189, 0);
  opacity: 0.7;
  transform: scale(1.1);
}
.card-icon {
  height: relative;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}
.card-icon i,
.card-icon span {
  font-size: 30px;
  color: #411a66;
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  align-items: center;
}
.card-subtitle {
  margin-bottom: 5px;
  align-items: center;
}

.section3-content h2 {
  margin-bottom: 20px;
  align-items: center;
}
.section3-content p {
  margin-bottom: 38px;
  align-items: center;
}
.button {
  display: inline-block;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 30px;
  background-color: #fff;
  color: #3a414e;
  transition: all 0.4s ease;
}
.button:hover {
  background-color: transparent;
  border-color: #2a273f;
  color: #1c1c30;
}
.button.bg:hover {
  border-color: #fff;
  color: #fff;
}
.button-light {
  background-color: transparent;
  border-color: #282344;
}
.button-light:hover {
  background-color: #282344;
  color: #fff;
}

.footer-area {
  margin-top: 60px;
  padding: 0px 0px 20px 0;
  background: #0e1424;
  display: flex;
}
.footer-area .container {
  float: right;
  width: 100%;
  margin: 0;
}
.footer-area .footer-bottom {
  margin-top: 70px;
}
.footer-area .footer-bottom p {
  color: #797979;
}
.footer-area .footer-bottom p a {
  color: #fff;
}
.footer-area .footer-bottom img {
  padding-bottom: 50px;
  display: inline-block;
  vertical-align: middle;
}
.footer-area .footer-bottom .footer-social i {
  width: 32px;
  color: #fafafa;
  display: inline-grid;
  text-align: center;
  height: 32px;
  margin: 5px;
  align-content: center;
  font-size: 35px;
}
.footer-area .footer-bottom .footer-social a:hover {
  color: #6f389f;
}
.footer-refs {
  display: inline-block;
  font-size: 15px;
  width: 100%;
}
#caption {
  margin-top: 20px;
  color: #575757;
}
/* ====================================================MEDIA QUERIES==================================================== */
@media (max-width: 480px) {
  .header-area .navbar-collapse {
    max-height: 250px;
  }
  .home_banner_area .banner_inner .banner_content {
    padding: 30px 15px;
    margin-top: 0px;
  }
  .banner_content .white_btn {
    display: block;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px;
  }
  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px;
  }
  .banner_btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .container-contact100 .validate-form {
    margin: auto;
    width: 80%;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
  .home-banner {
    padding: 50px 0 0px 0;
  }
  .home-banner--sm__content {
    margin-top: 40px;
  }
}
@media (min-width: 900px) {
  .button {
    padding: 12px 45px;
  }
}
@media (max-width: 991px) {
  .header-area .navbar-right {
    margin: 20px 0;
  }
  .header-area .navbar {
    padding: 0px 0;
  }
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
    margin-left: 0px !important;
    display: flexbox;
    float: right;
  }
  .header-area .navbar {
    background: #6f389f;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
    margin-left: 0px !important;
  }
  .navbar .container {
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-left: 50px !important;
  }
  .nav {
    padding: 0px 0px;
  }
  .header-area + section,
  .header-area + row,
  .header-area + div {
    margin-top: 117px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header-area .navbar .nav .nav-item .nav-link {
    line-height: 30px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header-area .navbar .search {
    margin-left: 0px;
  }
  .header-area .navbar-collapse {
    max-height: 370px;
    overflow-y: visible;
  }
  .header-area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header-area + section,
  .header-area + row,
  .header-area + div {
    margin-top: 41px;
  }

  .header-area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header-area.white_menu.navbar_fixed
    .main_menu
    .navbar
    .nav
    .nav-item
    .nav-link {
    line-height: 40px;
  }
  .header-area.white_menu .navbar .nav .nav-item .nav-link {
    color: #222;
  }
  #artificial {
    display: none;
  }
  .card-4 {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    margin: 5px auto;
    border: 20px;
    box-shadow: 2px 2px;
    border-radius: 15px;
    background: #dfcbf0;
  }
}

@media (min-width: 1000px) {
  .section2 {
    margin: 100px 0;
    margin-top: 0px !important;
  }
  .section-intro {
    padding-bottom: 85px;
  }
  .section-padding--small {
    padding: 100px 0;
  }
}
@media (max-width: 1199px) {
  .home-banner {
    padding-bottom: 50px;
  }
  .header-area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .home-banner-logo img {
    height: 70%;
    width: 70%;
    transform: translateX(15%);
  }
  .bg-head {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section2 {
    margin: 100px 0;
  }
  .home-banner {
    padding: 150px 0 200px 0;
    height: 750px;
  }
  .home-banner-logo img {
    position: absolute;
    top: 0;
    padding-left: 150px;
    left: -110px;
    height: 400px;
  }
}
