#redirecting {
  position: relative;
  height: 100vh;
}

#redirecting .redirecting {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.redirecting {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.redirecting .redirecting-sub {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.redirecting .redirecting-sub h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #666666;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.redirecting .redirecting-sub h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.redirecting a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #6f389f;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.redirecting a:hover {
  color: #6f389f;
  background-color: transparent;
  border: 1px solid #0e1424;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .redirecting .redirecting-sub h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .redirecting .redirecting-sub {
    height: 148px;
    margin: 0px auto 10px;
  }
  .redirecting .redirecting-sub h1 {
    font-size: 86px;
  }
  .redirecting .redirecting-sub h2 {
    font-size: 16px;
  }
  .redirecting a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
