body {
    background-color: #6f389f;
    background-image: linear-gradient(296deg, #6f389f 0%, #232323 60%);
}

.mt-4 {
    text-align: center;
}

h5 {
    color: #fafafa;
}

.name {
    color: #fafafa;
}

p {
    color: #fafafaea;
}

.mt-4 a {
    color: #fafafa;
    font-weight: 300;
}

.footer {
    text-align: center;
    margin-top: 5% !important;
}

.footer p {
    font-size: small;
}

@media (max-width: 479px) {
    .footer {
        margin-top: 15% !important;
    }
}