body {
    background-color: #923cb5;
    background-image: linear-gradient(330deg, #923cb5 0%, #000000 64%);
}

h5 {
    color: #fafafa;
}

.mt-3 {
    text-align: center;
}

.name {
    color: #fafafa;
}

p {
    color: #fafafaea;
}

.mt-4 a {
    color: #fafafa;
    font-weight: 100;
}

.footer {
    text-align: center;
    margin-top: 5% !important;
}

@media (max-width: 479px) {
    .footer {
        margin-top: 20% !important;
    }
}