.main {
  margin-top: 150px;
  text-shadow: 1px 1px rgb(49, 34, 59);
}
.main h1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 22px;
}
.main p {
  color: #fff;
  font-size: 18px;
}

@media (min-width: 992px) {
  .main h1 {
    font-size: 50px;
  }
}
