.main-apply {
  position: fixed;
  bottom: 24px;
  text-align: center;
  width: 60%;
  left: 20%;
  background-color: #6f389f;
  border-radius: 20px;
  box-shadow: 1px 2px 30px #323232;
  z-index: 200;
}
