.medium-widget-article__item {
  padding: 3px !important;
  box-sizing: border-box !important;
  margin: 10px !important;
  background: #232323 !important;
  -webkit-transition: all 0.3s ease 0s !important;
  -moz-transition: all 0.3s ease 0s !important;
  -o-transition: all 0.3s ease 0s !important;
  transition: all 0.3s ease 0s !important;
}

.medium-widget-article__item:hover {
  background-color: #666666 !important;
}

.medium-widget-article__title {
  font-size: 22px !important;
  font-weight: 500 !important;
  color: white !important;
  padding: 5px !important;
}

.medium-widget-article__title:hover {
  color: #6f389f !important;
}

.medium-widget-article__description {
  color: whitesmoke !important;
  text-align: justify !important;
  padding: 7px !important;
  padding-top: 0 !important;
}
.medium-widget-article__author-name {
  color: whitesmoke !important;
  text-transform: uppercase !important;
  font-weight: 200 !important;
  font-size: 12px !important;
}

.medium-widget-article__date {
  color: #575757 !important;
}
@media (max-width: 991px) {
  .medium-widget-article__row:last-child {
    margin-bottom: 40px;
  }
}

.btnPublication {
  border-radius: 50px !important;
  border: 1px solid #fafafa !important;
  color: #fafafa !important;
  padding: 10px 30px !important;
  margin: 10px auto !important;
  font-weight: 400 !important;
}
