/* ====================================================BLOG====================================================  */

/* ====================================================TAGS====================================================  */
html {
  scroll-behavior: smooth;
}
body {
  color: #5c5c5c;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
  background: #232323;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
h1 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 28px;
  font-weight: 700;
}
h3 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  color: #3a414e;
  line-height: 1.25;
}
a:hover {
  text-decoration: none;
}

/* ====================================================CLASSES==================================================== */
.header-area {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}
.header-area .navbar {
  background: #232323;
  padding: 15px 0;
  border: 0px;
  width: 100%;
  box-sizing: border-box;
}
.header-area .navbar-right {
  min-width: 200px;
  text-align: right;
}
.header-area .navbar .nav .nav-item {
  margin-right: 30px;
}
.header-area .navbar .nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.header-area .navbar .nav .nav-item:hover .nav-link {
  color: rgb(231, 203, 255);
  opacity: 0.75;
}
.active {
  color: #fff;
  opacity: 0.75;
  border-bottom: 2px white solid;
}
.header-area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -73px;
  left: 0;
  right: 0;
  background: #232323;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.3);
}

.home-banner {
  position: relative;
  background-size: cover;
  padding: 90px 0 40px 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../css/img/bg.png) left center no-repeat;
  background-size: 850px 700px;
  background-position: 80% 100%;
}
.home-banner-logo {
  position: relative;
}
.home-banner-content {
  text-shadow: 1px 1px rgb(0, 0, 0);
}
.home-banner-content h1 {
  color: #fff;
  margin-bottom: 22px;
}
.home-banner-content p {
  color: #fff;
  margin-bottom: 45px;
}
.home-banner-content a {
  text-shadow: none;
}
.home-banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.card {
  padding: 30px 35px;
  border-left: 5px solid rgb(60, 2, 71);
  border-radius: 30px;
  margin-top: 60px;
  border-radius: 0;
  background: #e5e1f5;
  text-shadow: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button {
  display: inline-block;
  border: 1px solid #fafafa;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 30px;
  background-color: #323232;
  color: #fafafa;
  transition: all 0.4s ease;
}

.button.bg:hover {
  border-color: #fafafa8f;
  background-color: transparent;
  color: #ffffff;
}
.button-light {
  background-color: transparent;
  border-color: #282344;
}
.button-light:hover {
  background-color: #282344;
  color: #fff;
}

.footer-area {
  padding: 40px 0px 40px 0;
  background: #0e1424;
  display: flex;
}
.footer-area .section-gap {
  float: right;
}
.footer-area .container {
  float: right;
  width: 100%;
  margin: 0;
}
.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}
.footer-area .single-footer-widget input {
  height: 48px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
}
.footer-area .single-footer-widget .click-btn {
  font-family: "Roboto", sans-serif;
  color: #3a414e;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 20px;
  border: 0;
  font-size: 14px;
  background: #fff;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  left: 0;
}
.footer-area .single-footer-widget h4 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 600;
}
.footer-area .footer-bottom {
  margin-top: 70px;
}
.footer-area .footer-bottom p {
  color: #797979;
  padding-top: 20px;
}
.footer-area .footer-bottom p a {
  color: #fff;
}
.footer-area .footer-bottom .footer-social a {
  background: rgba(255, 255, 255, 0.15);
  width: 32px;
  color: #fff;
  display: inline-grid;
  text-align: center;
  height: 32px;
  align-content: center;
}
.footer-area .footer-bottom .footer-social a:hover {
  background: #fff;
  color: #21146a;
}

/* ====================================================MEDIA QUERIES==================================================== */
@media (min-width: 250px) {
  .footer-area .single-footer-widget .click-btn {
    left: -40px;
  }
}
@media (max-width: 480px) {
  .header-area .navbar-collapse {
    max-height: 250px;
  }
  .home_banner_area .banner_inner .banner_content {
    padding: 30px 15px;
    margin-top: 0px;
  }
  .banner_content .white_btn {
    display: block;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px;
  }
  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px;
  }
  .banner_btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 540px) {
  .single-footer-widget {
    display: none;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
  .home-banner {
    padding: 150px 0 120px 0;
  }
  .home-banner--sm__content {
    margin-top: 40px;
  }
}
@media (min-width: 900px) {
  .button {
    padding: 12px 45px;
  }
}
@media (max-width: 991px) {
  .header-area .navbar-right {
    margin: 20px 0;
  }
  .header-area .navbar {
    padding: 0px 0;
  }
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
    margin-left: 0px !important;
  }
  .header-area .navbar {
    background: #373255;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
    margin-left: 0px !important;
  }
  .navbar .container {
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-left: 50px !important;
  }
  .nav {
    padding: 0px 0px;
  }
  .header-area + section,
  .header-area + row,
  .header-area + div {
    margin-top: 117px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header-area .navbar .nav .nav-item .nav-link {
    line-height: 30px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header-area .navbar .search {
    margin-left: 0px;
  }
  .header-area .navbar-collapse {
    max-height: 370px;
    overflow-y: visible;
  }
  .header-area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
  }
  .header-area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header-area + section,
  .header-area + row,
  .header-area + div {
    margin-top: 41px;
  }
  .home_banner_area .banner_inner .banner_content .banner_map_img {
    display: none;
  }
  .header-area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header-area.white_menu.navbar_fixed
    .main_menu
    .navbar
    .nav
    .nav-item
    .nav-link {
    line-height: 40px;
  }
  .header-area.white_menu .navbar .nav .nav-item .nav-link {
    color: #222;
  }
}
@media (min-width: 992px) {
  .header-area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
  }
  .header-area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .header-area.white_menu .navbar .navbar-brand img {
    display: none;
  }
  .header-area.white_menu .navbar .navbar-brand img + img {
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  .header-area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .home-banner-logo img {
    height: 70%;
    width: 70%;
    transform: translateX(15%);
  }
}
@media (min-width: 1200px) {
  .section2 {
    margin: 100px 0;
  }
  .home-banner {
    padding: 150px 0 200px 0;
    height: 750px;
  }
  .home-banner-logo img {
    position: absolute;
    top: 0;
    padding-left: 150px;
    left: -110px;
    height: 400px;
  }
}
/* ====================================================MEDIUM EMBED====================================================  */

.medium-widget-article__item {
  padding: 3px !important;
  box-sizing: border-box !important;
  margin: 5px !important;
  background: #232323 !important;
  -webkit-transition: all 0.3s ease 0s !important;
  -moz-transition: all 0.3s ease 0s !important;
  -o-transition: all 0.3s ease 0s !important;
  transition: all 0.3s ease 0s !important;
}
.medium-widget-article__item:hover {
  background-color: #3f3541 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 3px 10px 0px rgba(34, 25, 83, 0.699) !important;
}
.medium-widget-article__title {
  font-size: 22px !important;
  font-weight: 500 !important;
  color: white !important;
  padding: 5px !important;
}
.medium-widget-article__title:hover {
  color: rgb(147, 144, 150) !important;
}
.medium-widget-article__description {
  color: whitesmoke !important;
  text-align: justify !important;
  padding: 7px !important;
  padding-top: 0 !important;
}
.medium-widget-article__author-name {
  color: whitesmoke !important;
  text-transform: uppercase !important;
  font-weight: 200 !important;
  font-size: 12px !important;
}

.medium-widget-article__clap,
.medium-widget-article__date {
  color: #575757 !important;
}
@media (max-width: 991px) {
  .medium-widget-article__row:last-child {
    margin-bottom: 40px;
  }
}
/* ====================================================H1 ANIMATON====================================================  */

@media (min-width: 1200px) {
  .ml11 {
    font-size: 3.5em;
    width: 80%;
  }

  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
  }

  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #6f389f;
    transform-origin: 0 50%;
  }

  .ml11 .line1 {
    top: 0;
    left: 0;
  }

  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
}
