.liNavItem {
  margin: 8px;
}

.links {
  margin: 20px auto;
  text-decoration: none;
  color: whitesmoke;
  padding-bottom: 5px;
  font-weight: 300;
}

.links:hover {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 3px solid #ccc;
}

.active {
  font-weight: 700;
  border-bottom: 3px solid #ccc;
}
