/* ====================================================CONTACT US====================================================  */

/* ====================================================TAGS====================================================  */
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

html {
  scroll-behavior: smooth;
}
body {
  color: #797979;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
  background: #232323;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: dot;
}
h1 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  color: #3a414e;
  line-height: 1.25;
  font-size: 38px;
  font-weight: 700;
}
h3 {
  color: #6f389f !important;
  line-height: 1.25;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  color: #6f389f;
  line-height: 1.25;
}
a:hover {
  text-decoration: none;
}

/* ====================================================CLASSES==================================================== */
.header-area {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}
.header-area .navbar {
  background: transparent;
  padding: 15px 0;
  border: 0px;
  width: 100%;
  box-sizing: border-box;
}

.header-area .navbar .nav .nav-item {
  margin-right: 30px;
}
.header-area .navbar .nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.header-area .navbar .nav .nav-item:hover .nav-link {
  color: rgb(231, 203, 255);
  opacity: 0.75;
}
.active {
  color: #fff;
  opacity: 0.75;
  border-bottom: 2px white solid;
}
.header-area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -73px;
  left: 0;
  right: 0;
  background: #232323;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.3);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 30px;
  background-color: #fff;
  color: #3a414e;
  transition: all 0.4s ease;
}
.button:hover {
  background-color: transparent;
  border-color: #2a273f;
  color: #1c1c30;
}
.button.bg:hover {
  border-color: #fff;
  color: #fff;
}
#contact {
  margin-top: 100px;
  padding-bottom: 0px !important;
}
.footer-area {
  margin-top: 60px;
  padding: 0px 0px 20px 0;
  background: #0e1424;
  display: flex;
}
.footer-area .container {
  float: right;
  width: 100%;
  margin: 0;
}
.footer-area .footer-bottom {
  margin-top: 70px;
}
.footer-area .footer-bottom p {
  color: #797979;
}
.footer-area .footer-bottom p a {
  color: #fff;
}
.footer-area .footer-bottom .footer-social i {
  width: 32px;
  color: #fafafa;
  display: inline-grid;
  text-align: center;
  height: 32px;
  margin: 5px;
  align-content: center;
  font-size: 35px;
}
.footer-area .footer-bottom .footer-social a:hover {
  color: #6f389f;
}
.footer-refs {
  display: inline-block;
  font-size: 15px;
  width: 100%;
}
#caption {
  margin-top: 20px;
  color: #575757;
}
/* ====================================================MEDIA QUERIES==================================================== */
@media (max-width: 480px) {
  .header-area .navbar-collapse {
    max-height: 250px;
  }
}

@media (max-width: 599px) {
  .container-contact100 .validate-form {
    margin: auto;
    width: 80%;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 900px) {
  .button {
    padding: 12px 45px;
  }
}
@media (max-width: 991px) {
  .header-area .navbar-right {
    margin: 20px 0;
  }
  .header-area .navbar {
    padding: 0px 0;
  }
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
    margin-left: 0px !important;
    display: flexbox;
    float: right;
  }
  .header-area .navbar {
    background: #6f389f;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
    margin-left: 0px !important;
  }
  .navbar .container {
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-left: 50px !important;
  }
  .nav {
    padding: 0px 0px;
  }
  .header-area + section,
  .header-area + row,
  .header-area + div {
    margin-top: 117px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header-area .navbar .nav .nav-item .nav-link {
    line-height: 30px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header-area .navbar .search {
    margin-left: 0px;
  }
  .header-area .navbar-collapse {
    max-height: 370px;
    overflow-y: visible;
  }
  .header-area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header-area + section,
  .header-area + row,
  .header-area + div {
    margin-top: 41px;
  }
  .home_banner_area .banner_inner .banner_content .banner_map_img {
    display: none;
  }
  .header-area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
}
